<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/jdbc
   http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

	<bean id="helloWorld" class="spring.HelloWorld">
		<property name="message" value="Hello World!" />
	</bean>

	<jdbc:embedded-database id="dataSource" type="H2">
		<jdbc:script location="classpath:db/sql/create-db.sql" />
		<jdbc:script location="classpath:db/sql/insert-data.sql" />
	</jdbc:embedded-database>


	<!-- Stock business object -->
	<bean id="user" class="h2Database.User">
		<property name="stockDao" ref="stockDao" />
	</bean>

	<!-- Stock Data Access Object -->
	<bean id="stockDao" class="com.mkyong.stock.dao.impl.StockDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

</beans>